<a href="https://colab.research.google.com/github/yxunakim84/class2021Fall/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **튜플은 어떻게 만들까?**

튜플(tuple)은 몇 가지 점을 제외하곤 리스트와 거의 비슷하며 리스트와 다른 점은 다음과 같다.

* 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
* 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

>>

```
>>> t1 = ()
>>> t2 = (1,)
>>> t3 = (1, 2, 3)
>>> t4 = 1, 2, 3
>>> t5 = ('a', 'b', ('ab', 'cd'))
```

## **튜플 만들 때 주의할 사항**

**📌  t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 콤마(,)를 반드시 붙여야 한다.**
```
t2 = (1,)
t2 = 'a',
```
**📌 t4 = 1, 2, 3처럼 괄호( )를 생략해도 무방하다.**

In [ ]:
t1 = 'a',
type(t1)

tuple

In [ ]:
t2 = ('a')
type(t2)

str

## **튜플 생성하는 방법**

* 빈 튜플 생성

In [ ]:
t = tuple()
t

()

* 문자열, 리스트, 튜플 같은 시퀀스

: 시퀀스를 원소로 갖는 튜플 생성

In [ ]:
t = tuple('lupins')
t

('l', 'u', 'p', 'i', 'n', 's')

## **Error 나는 경우(삭제, 변경)**

### **1. 튜플 요솟값을 삭제하려 할 때**
```
>>> t1 = (1, 2, 'a', 'b')
>>> del t1[0]
```
```
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'tuple' object doesn't support item deletion
```

### **2. 튜플 요솟값을 변경하려 할 때**
```
>>> t1 = (1, 2, 'a', 'b')
>>> t1[0] = 'c'
```
```
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: 'tuple' object does not support item assignment
```

## **📌 Error 없이 튜플 값을 변경하려면?**

튜플을 다른 튜플로 대체한다 --> 새로만든 튜플을 참조하게 한다.

In [ ]:
t = ('a', 'b', 'c', 'd', 'e')
print(t)
print(id(t))

t = ('A',) + t[1:]
# t = 'A', + t[1:] 라고 치면 Error
print(t)
print(id(t))

('a', 'b', 'c', 'd', 'e')
140249709746128
('A', 'b', 'c', 'd', 'e')
140249709745648

## **관계연산자**

각 시퀀스의 첫 번째 원소부터 비교를 시작

원소의 크기가 같으면, 다음 원소 비교

In [ ]:
(0, 1, 2) < (0, 3, 1)

True

In [ ]:
(0, 1, 200000) < (0, 3, 4)
# 그 다음 원소가 더 크더라도, 순서대로 진행되므로 해당 원소에서 크기 결정됨

True

In [ ]:
(0, 1, [5, 7]) < (0, 1, 5, 7)

TypeError: ignored

## **Tuple Assignment**

# * **swap**

* 왼쪽에는 변수의 튜플, 오른쪽에는 표현식의 튜플
* 오른쪽의 표현식이 sequence 형태여도(string, list, tuple) 가능
* **📌 왼쪽의 개수와 오른쪽의 개수가 반드시 같아야함**

In [ ]:
a = 3
b = 14

#swap
a, b = b, a

print(a)
print(b)

14
3

In [ ]:
a = [1, 2, 3]
b = ('s', 't')

#swap
a, b = b, a

print(a)
print(b)

('s', 't')
[1, 2, 3]

## * **assigment**

 **📌 왼쪽의 개수와 오른쪽의 개수가 반드시 같아야함**

In [ ]:
a, b = 1, 2, 3
print(a)

ValueError: ignored

* 오른쪽의 표현식이 sequence 형태여도(string, list, tuple) 가능

In [ ]:
a = [1, 2, 3]
b = {'a':1, 'b': 2}
a, b = b, a
print(a)
print(b)

{'a': 1, 'b': 2}
[1, 2, 3]

* 오른쪽의 표현식이 문자열인 경우
> split : 문자열매서드
>> return 값이 list

In [ ]:
addr = 'monty@python.org'
uname, domain = addr.split('@')
print(uname)
print(domain)
type(addr.split('@'))

monty
python.org

list

## **값을 반환하는 튜플의 내장함수**

### 1) **divmod 함수** 

> 나눗셈의 몫과 나머지를 반환

> divmod 결과값의 type = tuple

> 📌 divmod는 반드시 두 개의 변수를 받아야 함 (예외: * 사용)

In [ ]:
t = divmod(7, 3)
t

(2, 1)

In [ ]:
type(divmod(7, 3))

tuple

In [ ]:
quot, rem = divmod(7, 3)
print(quot)
print(rem)

2
1

📌 **divmod 를 미리 선언한 변수를 하나로 사용하고 싶으면?**

In [ ]:
t = (7, 3)
divmod(t)
# 오류

TypeError: ignored

> 1) index로 접근한다.

In [ ]:
divmod(t[0], t[1])

(2, 1)

> 2) * operator를 사용하여 scatter 처리한다.

In [ ]:
divmod(*t)

(2, 1)

### **2) min(), max() 함수**
: sequence가 주어졌을 때 최대값, 최소값을 반환해주는 내장함수

: return값이 튜플

In [ ]:
def min_max(t):
  return min(t), max(t)

s = [1, 2, 3, 4, 5]
min_max(s)

(1, 5)

### *** operator : 여러 개의 변수를 받아 튜플 하나로 합쳐준다**

In [ ]:
def printall(*args):
  print(args)
printall(1, 2.0, '3')

(1, 2.0, '3')

In [ ]:
t = (7, 3)
#divmod(t)
# divmod 변수가 두 개가 있어야 하는데 t 튜플 하나이므로 오류발생

divmod(*t)
# * operator를 사용하면 원소가 scatter되어 가능

(2, 1)

## **함수 별 argument 개수**

1) **min(), max() : argument 개수 제한 x**

In [ ]:
max(1, 2, 3)

3

2) **sum() : argument 최대 개수 2개**
> 첫 번째 argument : list, tuple 처럼 sequence를 받아야 함
> 두 번째 argument : 범위설정 (생략o)

In [ ]:
sum(1, 2, 3) # 튜플 세 개로 인식되어 Error

In [ ]:
sum((1, 2, 3)) # 튜플 () 하나로 묶었으므로 작동

6

In [ ]:
sum([1, 2, 3]) # 리스트 [] 하나로 묶었으므로 작동

6

In [ ]:
def sum_all(arg):
  return sum(arg)

t = (1, 2, 3)
sum_all(t)
# 미리 변수 설정으로 값을 할당한 경우 튜플 하나로 인식

sum_all(1, 2, 3)
# 오류; 튜플 세 개가 sum의 arg에 들어가므로 오류

TypeError: ignored

In [ ]:
def sum_all(*args):
  return sum(args)
sum_all(1, 2, 3)
# * operator가 흩어져 있는 원소들을 하나의 tuple로 만들어줌
# return값 꼭 써주기

6

The sum() function takes an iterable and returns the sum of items in it.

Syntax:

sum(iterable, [start]) -> number
PARAMETER	DESCRIPTION
iterable (required)	Iterable item like string, list, dictionary etc.
start (optional)	An optional numeric value added to the final result. It defaults to 0.
The sum() function only works with numerical values, trying to use it with non-numeric type will result in an error.

Here is an example:

 1
 2
 3
 4
 5
 6
 7
 8
 9
10
11
12
13
>>> 
>>> sum([1, 2, 3, 4, 5]) # sum values in a list
15
>>> 
>>> sum((1, 2, 3, 4, 5)) # sum values in a tuple
15
>>> 
>>> sum({1, 2, 3, 4, 5}) # sum values in a set
15
>>> 
>>> sum({1: "one", 2: "two", 3: "three"}) # sum values in a 
6
>>>

## **zip** 
> ### **sequence 2개가 주어졌을 때 각각의 sequence를 맞물리도록 묶음**
> sequence의 길이가 맞지 않더라도 오류나지 않음 (짧은 쪽에 맞춰 묶임)

> iterator의 한 종류
>> iterator는 a[0]처럼 인덱스로 접근할 수 x

In [ ]:
s = 'abc'
t = [0, 1, 2]
zip(s, t)

> **zip의 pairs 를 출력하고 싶으면?**

In [ ]:
list(zip(s, t))

[('a', 0), ('b', 1), ('c', 2)]

In [ ]:
t = list(zip(s, t))
for letter, number in t:
  print(number, letter)

0 a
1 b
2 c

In [ ]:
tuple(zip(s, t))

(('a', 0), ('b', 1), ('c', 2))

In [ ]:
dict(zip(s, t))

{'a': 0, 'b': 1, 'c': 2}

In [ ]:
for pair in zip(s, t):
  print(pair)
  print(type(pair))

('a', 0)
<class 'tuple'>
('b', 1)
<class 'tuple'>
('c', 2)
<class 'tuple'>

> sequence의 길이가 맞지 않더라도 오류가 나지 않는다.

In [ ]:
list(zip('Anne', 'Elk'))

[('A', 'E'), ('n', 'l'), ('n', 'k')]

> zip 이용하여 함수 작성하기

In [ ]:
def matching(t1, t2):
  for x, y in zip(t1, t2):
    print(x, y)
matching('anna', 'kyee')

a k
n y
n e
a e

In [8]:
# 잘못된 함수식(처음 원소만 비교하게 된다)

def has_match(t1, t2):
  for x, y in zip(t1, t2):
    if x == y:
      return True
  return False

In [9]:
has_match((1, 2, 3), (1, 2, 5))

True

## **enumerate : iterable 한 객체의 값과 index 값까지 출력하는 내장 함수**

In [ ]:
for index, element in enumerate('abc'):
  print(index, element)

0 a
1 b
2 c

## **dictionary와 tuple**

> dictionary의 items, values 는 tuple 로 묶여 출력됨

In [ ]:
d = {'a':0, 'b':1, 'c':2}
t = d.items()
t

dict_items([('a', 0), ('b', 1), ('c', 2)])

In [ ]:
for key, value in d.items():
  print(key, value)

a 0
b 1
c 2

In [ ]:
for key in d.keys():
  print(key, d[key])

a 0
b 1
c 2

> 📌 **dictionary 생성 시 tuple들의 list를 사용할 수 있다**

In [ ]:
t = [('a', 0), ('c', 2), ('b', 1)]
d = dict(t)
d

{'a': 0, 'b': 1, 'c': 2}

In [ ]:
d = dict(zip('abc', range(3)))
d

{'a': 0, 'b': 1, 'c': 2}

> dictionary의 key값을 tuple을 이용하여 여러개로 설정하기

In [ ]:
directory = {('Cleese', 'John') : '080-222-333', ('kete', 'J.') : '090-888-999'}
#directory[last, first] = number
for last, first in directory:
  print(first, last, directory[last, first])

John Cleese 080-222-333
J. kete 090-888-999

11주차 실습

튜플 생성하는 법

: () 안에 적어도 되고, () 없이 적어도 됨

In [ ]:
t = (1, 2, 3, 4, 5)

In [ ]:
t

(1, 2, 3, 4, 5)

In [ ]:
u = 1, 2, 3, 4, 5

In [ ]:
u

(1, 2, 3, 4, 5)

In [ ]:
t == u

True

element 한 개인 튜플을 만들 때

: 뒤에 , 꼭 붙여주기

In [ ]:
t1 = 1,

In [ ]:
t1

(1,)

In [ ]:
t2 = (1,)

In [ ]:
t2

(1,)

In [ ]:
t3 = 1

In [ ]:
print(t3)
type(t3)

1

int

In [ ]:
t = tuple()

In [ ]:
t

()

In [ ]:
t = tuple("tuple")

In [ ]:
t

('t', 'u', 'p', 'l', 'e')

In [ ]:
t = tuple(range(10))

In [ ]:
t

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
t[0]

0

In [ ]:
t[4]

4

In [ ]:
t[1:3]

(1, 2)

tuple은 immutable하므로 특정 인덱스 값을 바꿀 수 없음

In [ ]:
t[0] = 100

TypeError: ignored

튜플값을 수정하고 싶으면?

새로 튜플을 만들어서 기존값 slicing 해서 더함

In [ ]:
t = (100,) + t[1:]
# 새로운 값을 만들어서 t가 이 값을 참조하도록 한다. 실제로는 수정한 것이 아니라, 새로운 값을 참조하도록 한 것.

In [ ]:
t

(100, 1, 2, 3, 4, 5, 6, 7, 8, 9)

id값이(주소값이) 다르다.

같은 값이 수정된게 아니라, 새로 만들어져서 t가 단지 다른 곳(주소)을 참조하고 있는 것임

In [ ]:
t = tuple(range(10))

In [ ]:
id(t)

139892137928752

In [ ]:
t = (100,) + t[1:]

In [ ]:
id(t)

139892137870832

In [ ]:
t = t + (10,)

In [ ]:
t

(100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
id(t)

139892138657408

in-place operator임에도 tuple은 immutable 하므로 새로 만들어지게 됨

In [ ]:
t += (11,)

In [ ]:
t

(100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11)

In [ ]:
id(t)

139892139379120

In [ ]:
u = list(range(10))

In [ ]:
u

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
id(u)

139892138058128

In [ ]:
u += [10]

in-place operator 인 += 의 경우 기존 리스트가 수정되는 것이므로, 이전의 리스트와 id값이 같다.

In [ ]:
u

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
id(u)

139892138058128

In [ ]:
u = u + [11]

이 경우는 in-place operator가 아니므로 기존 리스트가 수정되는 것이 아니라, 값이 추가된 채로 새로운 리스트가 생성되는 것이므로 이전의 리스트와 id값이 다르다.

In [ ]:
u

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [ ]:
id(u)

139892137787056

a, b swap하기

In [ ]:
a = 3
b = 7

In [ ]:
a, b = b, a

In [ ]:
a

7

In [ ]:
b

3

In [ ]:
a, b = b+3, a+2

In [ ]:
a

6

In [ ]:
b

9

tuple assignment 하려면 좌, 우의 개수가 일치해야한다.

In [ ]:
a, b = 1, 2, 3

ValueError: ignored

In [ ]:
a,b,c = 1, 2

ValueError: ignored

In [ ]:
addr = 'monty@python.org'

In [ ]:
t = addr.split('@')

In [ ]:
t

['monty', 'python.org']

In [ ]:
uname, domain = t
# t는 element 2개를 가지고 있기 때문에 할당됨

In [ ]:
uname

'monty'

In [ ]:
domain

'python.org'

sequence이고 대응되는 개수만 같으면 가능

In [10]:
uname, domain = 'ab', 'cd'

In [11]:
uname

'ab'

In [12]:
domain

'cd'

In [13]:
uname, domain = 'a', 'b'

In [14]:
uname

'a'

In [15]:
domain

'b'

divmod -> tuple로 한번에 받았을 때

In [ ]:
t = divmod(7, 3)

In [ ]:
t

(2, 1)

In [ ]:
type(t)

tuple

In [ ]:
t[0]

2

In [ ]:
t[1]

1

divmod -> 변수 두 개에 나눠 담았을 때

In [ ]:
a, b = divmod(7, 3)

In [ ]:
a

2

In [ ]:
b

1

In [ ]:
def printall(*args):
  print(type(args))
  print(args)

In [ ]:
printall(1, 2.0, '3')

<class 'tuple'>
(1, 2.0, '3')

In [ ]:
t = 7, 3

In [ ]:
t

(7, 3)

In [ ]:
divmod(t)

TypeError: ignored

In [ ]:
divmod(*t)

(2, 1)

In [ ]:
max(1, 2, 3)

3

In [16]:
max((1, 2, 3))

3

In [ ]:
sum(1, 2, 3)

TypeError: ignored

In [ ]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [ ]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [ ]:
sum((1, 2, 3))

6

In [ ]:
def sumall(*args):
  return sum(args)

In [ ]:
sumall(1, 2, 3, 4, 5)

15

In [ ]:
s = 'abc'
t = [0, 1, 2]
u = ('1', '2', '3')
zip(s, t)
# 그냥 zip만 쓰면 출력이 안됨

In [ ]:
z = zip(s, t)
for pair in z:
  print(pair)

('a', 0)
('b', 1)
('c', 2)

튜플들로 구성된 리스트

In [ ]:
z = list(zip(s, t, u))

In [ ]:
z

[('a', 0, '1'), ('b', 1, '2'), ('c', 2, '3')]

dict로 만들기

In [ ]:
d = dict(zip(s, t))

In [ ]:
d

{'a': 0, 'b': 1, 'c': 2}

In [ ]:
for a, b in zip(s, t):
  print(a, b)

a 0
b 1
c 2

In [ ]:
for a, b, c in zip(s, t, u):
  print(a, b, c)

a 0 1
b 1 2
c 2 3

zip으로 2개만 묶을 수 있는 것이 아니라 여러개 묶을 수 있다

In [ ]:
def dot_product(l1, l2):
  result = 0
  for x, y in zip(l1, l2):
    result += x*y
  return result

In [ ]:
dot_product([1, 2, 3], [4, 5, 6])

32

zip을 사용하지 않고 구현하려면?

In [ ]:
def dot_product(l1, l2):
  result = 0
  for i in range(len(l1)):
    result += l1[i]*l2[i]
  return result

In [ ]:
dot_product([1, 2, 3], [4, 5, 6])

32

In [ ]:
for index, element in enumerate('abc'):
  print(index, element)

0 a
1 b
2 c
0 a 0
1 b 1
2 c 2
0 a
1 b
2 c

In [ ]:
for index, element in enumerate(d): #dictonary만들었던 것
  print(index, element, d[element]) # element가 key값 # value까지 같이 출력

0 a 0
1 b 1
2 c 2

In [ ]:
for key, value in d.items():
  print(key, value)

a 0
b 1
c 2

In [ ]:
for key in d: #d만 쓰면 key값만
  print(key, d[key])

a 0
b 1
c 2

In [ ]:
for val in d.values():
  print(val)

0
1
2

In [ ]:
for index, ele in enumerate(d.items()):
  print(index, ele)

0 ('a', 0)
1 ('b', 1)
2 ('c', 2)

In [ ]:
for index, key, val in enumerate(d.items()):
  print(index, key, val)

ValueError: ignored

In [ ]:
for index, (key, val) in enumerate(d.items()):
  print(index, key, val)

0 a 0
1 b 1
2 c 2

In [ ]:
for index, item in enumerate(d.items()):
  print(index, item[0], item[1])

0 a 0
1 b 1
2 c 2

새로운 사전을 만들어서 기존 사전 업데이트

In [ ]:
d1 = {'c':3, 'd':4}

In [ ]:
d.update(d1)

In [ ]:
d

{'a': 0, 'b': 1, 'c': 3, 'd': 4}

기존에는 c의 val값이 2였는데 3으로 바뀌었고, d의 값이 4로 추가됨

튜플들의 리스트를 이용하여 기존 사전 업데이트

In [ ]:
d.update([('e', 5), ('a', 1)])

In [ ]:
d

{'a': 1, 'b': 1, 'c': 3, 'd': 4, 'e': 5}

In [2]:
directory = dict()

In [3]:
directory['gil-dong', 'hong'] = '01000000'

In [ ]:
directory

{('gil-dong', 'hong'): '01000000'}

In [4]:
directory['gildong', 'kim'] = '010293840'

In [ ]:
directory

{('gil-dong', 'hong'): '01000000', ('gildong', 'kim'): '010293840'}

In [ ]:
for key, val in d.items():
  print(key, val)

a 1
b 1
c 3
d 4
e 5
('gil-dong', 'hong') 01000000
('gildong', 'kim') 010293840

In [7]:
for (last, first), val in directory.items():
  print(last, first, val)

gil-dong hong 01000000
gildong kim 010293840

In [5]:
for last, first, val in directory.items():
  print(key, val)

ValueError: ignored

In [ ]:
t = (3, 2, 1, 5, 6, 4, 7)

In [ ]:
sorted(t)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
reversed(t)

In [ ]:
for x in reversed(t):
  print(x)

7
4
6
5
1
2
3